<div id="main">
    <form class="example-form2 form">
        <mat-form-field class="example-full-width formInput">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Loucos por pizza" [(ngModel)]="PostRegister.title">
        </mat-form-field>
      
        <mat-form-field class="example-full-width formInput">
          <mat-label>description</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="PostRegister.postData" ></textarea>
        </mat-form-field>
  
        <!-- <div id="err" *ngIf="HasError()">
          {{Error}}
        </div> -->
  
      </form>
      <button id="btn" mat-fab extended color="primary" (click)="newPost()">
        criar
      </button>
  </div>