.postCard{
    width: 90vw;
    
}
/* .example-card{

} */
#text-description{
    white-space: nowrap; 
    width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis;

}
#hide {
    white-space: normal; 
    overflow: visible;
    width: 90%; 
}



#more-information{
    border: none;
    color: black;
}
