<div id="header">
  <span id="logo">Rabbit</span>
  <img src="../../assets/img/Rabbit.png" alt="">
</div>

<div id="main">
  <app-post></app-post>  
  <app-post></app-post>  
  
</div>


<div id="add">
  <button mat-fab matTooltip="Primary" color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="showForms()">
      <mat-icon>forum icon</mat-icon>
      <span>Nova Comunidade</span>
    </button>
    <button mat-menu-item   (click)="showPost()">
      <mat-icon>create icon</mat-icon>
      <span>Postar</span>
    </button>
  </mat-menu>
</div>