<div id="main">
    <div id="profile">
        <div id="description">
            <div id="imgs">
                <img src="../../assets/img/images.png" alt="" id="communityPhoto">
            </div>
            <div id="userNames">    
                <span id="name">{{communtyTitle}}</span>
                <span id="userName">dogMal2005</span>
            </div>
            <p id={{classtag}}>
                {{communtyDescription}}
            </p>
            <button id="more-information" (click)="changeVisibily()">{{btntag}}</button>
            <div id="followers">{{countMembers}} membros</div>
            <div id="join">
                <button id="joinbtn" mat-flat-button color="primary" (click)="subscribeBtn()">{{btnText}}</button>
            </div>
        </div>
    </div>
    
    <div id="posts">
        <app-post></app-post>   

    </div>
</div>