<div id="main">
    <div id="profile">
        <div id="description">
            <div id="imgs">
                <img src="../../assets/img/images.png" alt="" id="communityPhoto">
            </div>
            <div id="userNames">    
                <span id="name">{{communityData.communityName}}</span>
                <span id="userName">{{communityData.userNameOwner}}</span>
            </div>
            <p id={{classtag}}>
                {{communityData.description}}
            </p>
            <button id="more-information" (click)="changeVisibily()">{{btntag}}</button>
            <div id="followers">{{communityData.members}} membros</div>
            <div id="join">
                <button id="joinbtn" mat-flat-button color="primary" (click)="subscribeBtn()">{{btnText}}</button>
            </div>
        </div>
    </div>
    <div id="idPosts">
        <div id="posts">
           <div id="posts" *ngFor="let elem of communityData.postList">
                <app-post [post]="elem"></app-post>   
            </div>
        </div>
    </div>
</div>