<form class="example-form2">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Ex. Loucos por pizza" [ngModelOptions]="{standalone: true}" [(ngModel)]="CommunityRegister.title">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>description</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." [ngModelOptions]="{standalone: true}" [(ngModel)]="CommunityRegister.description" ></textarea>
    </mat-form-field>
    <button mat-fab extended color="primary" (click)="newCommunity()">
      criar
    </button>
</form>