nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: whitesmoke;
    /* position: fixed; */

}

#main{
    position: fixed;
    width: 100vw;
    top: 93%;
    height: 7vh;
    background-color: whitesmoke;
    z-index: 1;
}
