<div id="main">
    <img src="../../assets/img/dog.png" alt="feed interface">
    <h3>Seja bem vindE a rede mais ANIMAL do brasil</h3>
    <div id="signIn-options">
        <button routerLink="/new-account" class="opt" id="opt1" [style]=btnSelected1 [(ngModel)]="selected"
        (click)="changeBackgroundColor()">Register</button>
        <button routerLink="/login" class="opt animation" id="opt2" [style]=btnSelected2  
        (click)="changeBackgroundColor()">Sign in</button>
    </div>    
</div>