#main{
    padding-top: 5vh;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.inputs{
    display: flex;
    width: 80vw;
    flex-direction: column;
}

.input-unit{
    border-radius: 10px;
}