
<div id="main">
    <h2>Login</h2>
    <div>
        <h1>Bem vindo de volta! ao Rabbit</h1>
        <span>tava com saudade...</span>
    </div>
    <form class="example-form inputs">
        <mat-form-field class="input-unit">
            <mat-label>Enter your email</mat-label>
            <input [(ngModel)]="userData.email" matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="userData.password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div>
        <button mat-flat-button color="primary" (click)="login()">Logar</button>
        <div id="other-options">
            <div>
                Não possui conta?
                <a href="/new-account">Crie uma agora mesmo!</a>
            </div>

        </div>
    </div>
</div>